body {
    background-color: white;
    margin: 0px;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
    
#reticle {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: -10px 0 0 -10px;
    z-index: 140;
    color: white;
    text-shadow: 1px 1px 0px black;
    text-align: center;
}

#block_img {
	z-index: 140;
	position: fixed;
	top: 0;
	left: 0;
}


#author {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 20px;
	line-height: 20px;
	z-index: 200;
	color: white;
	text-shadow: 1px 1px 0px black;
	font-family: Arial;
	margin-left: 2px;
}

#author a {
	color: blue;
}

#author a:hover {
	color: blue;
}

#author a:active {
	color: blue;
}

#gui {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	background-color: rgba(0, 0, 0, 0.5);
}