@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

* {
	user-select: none;
	-webkit-user-drag: none;
}

body {
	background: black;
	overflow: hidden;
}

a {
	color: white;
	text-decoration: none;
}

#container {
	position: fixed;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

#logo {
	position: relative;

	display: block;
	margin-left: auto;
	margin-right: auto;

	animation: logo 2s ease-in-out 0s infinite;
	z-index: -100;
}

#text {
	position: relative;

	text-align: center;
}

#text > p {
	font-family: "Quicksand", sans-serif;
	color: gray;

	font-size: 1.5em;
}

#text > header {
	font-family: "Kanit", sans-serif;
	color: white;

	font-size: 3em;
	line-height: 1em;
}

@keyframes logo {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(45deg);
	}

	100% {
		transform: rotate(45deg);
	}
}