@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
	font-variant-ligatures: none;
}

body.fira-mono {
	font-family: 'Fira Mono', monospace;
}

body.courier-prime {
	font-family: 'Courier Prime', monospace;
}

body.share-tech-mono {
	font-family: 'Share Tech Mono', monospace;
}

body.monospace {
	font-family: monospace;
}

#textPanel {
	display: inline-block;
	
	position: relative;
	
	left: 50%;
	top: 0;

	font-size: 48px;
	white-space: pre;
	
	margin: 0;
	
	transform: translateX(-50%);
}

#stats {
	text-align: center;
	
	font-size: 24px;
}

#pressEnter {
	text-align: center;
	
	font-size: 24px;
}

#container {
	position: absolute;
	width: 100%;
	
	top: 35%;
	left: 0;
}

#loading {
	position: fixed;
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);
	
	font-size: 32px;
}

#betaText {
	position: fixed;
	
	top: 10px;
	left: 10px;
	
	z-index: 100;
}

#settingsButton {
	position: fixed;
	
	top: 10px;
	right: 10px;

	width: 32px;
	height: 32px;
	
	user-select: none;
	
	-webkit-user-drag: none;
	
	opacity: 1;
	
	transition: 0.15s opacity;
}

#settingsButton:hover {
	opacity: 0.5;
}

#closeButton {
	position: fixed;
	
	top: 10px;
	right: 10px;

	width: 32px;
	height: 32px;
	
	user-select: none;
	
	-webkit-user-drag: none;
	
	opacity: 1;
	
	transition: 0.15s opacity;
}

#closeButton:hover {
	opacity: 0.5;
}

#settingsContainer {
	position: fixed;
	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	background: #fff;
	
	z-index: 10;
}

#settingsInnerContainer {
	position: absolute;
	
	width: 50%;
	height: 100%;
	
	top: 0;
	left: 50%;
	
	transform: translateX(-50%);
	
	overflow-y: scroll;
	
	font-size: 16px;
}

#settingsInnerContainer > header {
	padding-top: 20px;
	padding-bottom: 20px;
	
	font-size: 24px;
	font-weight: bold;
}

.setting > p {
	margin-top: 4px;
	
	color: #808080;
}

.setting {
	padding-top: 10px;
}

input, select {
	border: 1px solid black;
	outline: none;
}

textarea {
	resize: none;
	
	width: 90%;
}

.spacing {
	height: 64px;
}



.perfect {
	color: #0c870c;
}

.mistake {
	color: #e30b0b;
	background: #ffc9c9;
}

.corrected {
	color: #0c870c;
	background: #ffe3e3;
}

.currentChar {
	background: #cfdbff !important;
}