@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
	--color-0: #f0eedd;
  
	--color-yellow: #eddc4e;
	--color-blue: #4ec3ed;
	--color-red: #e66767;
}

body {
	background-color: var(--color-0);
	overflow: hidden;
	
	font-family: 'Merriweather', serif;
}

#loading {
	position: fixed;
	top: 50%;
	left: 50%;
	
	width: 256px;
	height: 256px;
	
	z-index: 100;
	
	animation: loading 2s linear infinite;
	
	-webkit-user-drag: none;
}

#cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	z-index: 99;
	
	background-color: var(--color-0);
}

#timeline {
	position: fixed;
	top: 50%;
	left: 0;
	
	height: 2px;
	width: 100%;
	
	transform: translate(0, -50%);
	
	background-color: black;
	
	z-index: -5;
}

#timeline:after {
	content: "";
	
	position: fixed;
	top: 50%;
	left: 50%;
	
	height: 10px;
	width: 2px;
	
	transform: translate(-50%, 0);
	
	background-color: black;
	
	z-index: -5;
}

#outer-timeline-container {
	position: absolute;
	left: 50%;
	top: 50%;
}

#timeline-container {
	position: relative;
	top: 0;
	right: 0;
}

.timeline-element-container {
	position: absolute;
	top: 0;
	left: 0;
	
	transform: translate(-50%, -50%);
	
	width: 12px;
	height: 12px;
	
	border-radius: 50%;
	
	background-color: black;
	
	z-index: 5;
	
	transition: 0.25s;
}

.timeline-element-container:hover {
	border-radius: 25%;
	
	width: 16px;
	height: 16px;
}

.timeline-element {
	position: absolute;
	top: 25px;
	left: 50%;
	
	transform: translate(-50%, 0);
	
	width: max-content;
	max-width: 250px;
	
	padding: 3px;
	border: 2px solid black;
	
	text-align: center;
	
	animation: fadeIn 0.25s linear;
	
	background-color: var(--color-yellow);
}

.timeline-major-label {
	position: absolute;
	bottom: 65px;
	left: 50%;
	
	transform: translate(-50%, 0);
	
	padding: 3px;
	border: 2px solid black;
	
	background-color: var(--color-yellow);
}

.timeline-major-label:after {
	content: "";
	
	position: absolute;
	top: 100%;
	left: 50%;
	
	transform: translate(-50%, 0);
	
	width: 2px;
	height: 66px;
	
	background-color: black;
}

.timeline-minor-label {
	position: absolute;
	bottom: 25px;
	left: 50%;
	
	transform: translate(-50%, 0);
	
	padding: 3px;
	border: 2px solid black;
	
	background-color: var(--color-0);
}

.timeline-minor-label:after {
	content: "";
	
	position: absolute;
	top: 100%;
	left: 50%;
	
	transform: translate(-50%, 0);
	
	width: 2px;
	height: 26px;
	
	background-color: black;
}

#title {
	position: fixed;
	top: 5px;
	left: 10px;
	
	font-size: 2em;
	
	z-index: 15;
}

#side-foreground {
	pointer-events: none;
	
	position: fixed;
	top: 0;
	left: 0;
	
	height: 100vh;
	width: 20vw;
	
	background-image: linear-gradient(to right, var(--color-0), rgba(0, 0, 0, 0));
	
	z-index: 10;
}

#side-foreground:after {
	content: "";
	
	pointer-events: none;
	
	position: fixed;
	top: 0;
	right: 0;
	
	height: 100vh;
	width: 20vw;
	
	background-image: linear-gradient(to left, var(--color-0), rgba(0, 0, 0, 0));
	
	z-index: 10;
}

#left-arrow {
	position: fixed;
	top: 75%;
	left: 10px;
	
	width: 64px;
	height: 64px;
	
	z-index: 15;
	
	-webkit-user-drag: none;
}

#right-arrow {
	position: fixed;
	top: 75%;
	right: 10px;
	
	width: 64px;
	height: 64px;
	
	z-index: 15;
	
	-webkit-user-drag: none;
}

#zoom-in {
	position: fixed;
	top: 10px;
	right: 10px;
	
	width: 48px;
	height: 48px;
	
	z-index: 15;
	
	-webkit-user-drag: none;
}

#zoom-out {
	position: fixed;
	top: 10px;
	right: 58px;
	
	width: 48px;
	height: 48px;
	
	z-index: 15;
	
	-webkit-user-drag: none;
}

#zoom {
	position: fixed;
	top: 0;
	right: 121px;
	
	transform: translate(0, 50%);
	
	text-align: right;
	
	z-index: 15;
	
	font-size: 1.5em;
}

@keyframes loading {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}