:root {
	--background-color: #2e2e2e;
	--primary-color: #cccccc;
	--secondary-color: #949494;
	--dark-0: #222222;
	--dark-1: #1e1e1e;
	--dark-2: #1a1a1a;
	--light-0: #383838;
	
	--color-0: #4ba0cf;
}

::-webkit-scrollbar {
	width: 10px;
}
  
::-webkit-scrollbar-track {
	background: transparent;
}
  
::-webkit-scrollbar-thumb {
	background: var(--dark-1);
	border-radius: 10px;
}

body {
	background-color: var(--dark-0);
	
	font-family: Arial;
	font-size: 18px;
	
	margin: 0;
}	

#outerAppContainer {
	box-sizing: border-box;
	
	position: absolute;
	
	width: 100%;
	height: 100%;
	
	padding: 20px;
	
	overflow: hidden;
}

#appContainer {
	position: relative;
	
	box-sizing: border-box;
	
	width: 100%;
	height: 100%;
	
	border-radius: 10px;
	
	overflow: hidden;
}

#chat {
	box-sizing: border-box;
	
	background: var(--background-color);
	
	list-style-type: none;
	padding: 15px;
	
	height: calc(100% - 50px);

	overflow-y: scroll;

	margin: 0;
}

#chat > li {
	background: var(--dark-0);
	
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	
	color: var(--primary-color);
	
	overflow-wrap: break-word;
}

#chatBox {
	box-sizing: border-box;
	
	position: absolute;
	bottom: 0;
	left: 0;

	width: calc(100% - 84px);
	height: 50px;
	
	border-radius: 0;
	border: none;
	
	background: var(--light-0);
	
	font-size: 18px;
	
	padding-left: 18px;
	
	color: var(--primary-color);
	
	transition: 0.25s background;
}

#chatBox:focus {
	outline: none;
}

#buttonContainer {
	position: absolute;
	bottom: 0;
	right: 0;
	
	width: 84px;
	height: 50px;
	
	background-color: var(--light-0);
}

#buttonSend {
	position: absolute;
	bottom: 0;
	right: 0;
	
	width: 24px;
	height: 24px;
	
	transform: translate(-50%, -50%);
	
	-webkit-user-drag: none;
	-webkit-user-select: none;
	
	z-index: 5;
}

#buttonSettings {
	position: absolute;
	bottom: 0;
	right: 36px;
	
	width: 24px;
	height: 24px;
	
	transform: translate(-50%, -50%);
	
	-webkit-user-drag: none;
	-webkit-user-select: none;
	
	z-index: 5;
}

#settingsMenu {
	box-sizing: border-box;
	
	position: absolute;
	bottom: 50px;
	right: 0;
	
	padding: 32px;
	
	width: calc(100% - 40px);
	height: calc(100% - 50px - 40px);
	
	max-width: 325px;
	
	margin: 20px;
	
	border-radius: 10px;
	
	background: var(--light-0);
	
	color: var(--primary-color);
	
	transform: none;
	
	transition: 0.5s transform;
	
	overflow-y: auto;
	overflow-x: hidden;
}

#settingsMenu.closed {
	transform: translate(120%, 0);
}

#settingsMenu > * {
	margin: 4px;
}

.message-id {
	color: var(--secondary-color);
}

.message-title {
	font-weight: bold;
}

.m-system > .message-title {
	color: var(--color-0);
}

.m-anonymous > .message-title {
	font-weight: normal;
	font-style: italic;
	
	color: var(--secondary-color);
}

input[type="checkbox"] {
	cursor: pointer;
	
	width: 16px;
	height: 16px;
}

#settingsMenu > header {
	text-align: center;
	color: var(--secondary-color);
	
	margin-top: 20px;
	margin-bottom: 10px;
}

@media (max-width: 550px) {
	#settingsMenu {
		bottom: 70px;
		
		padding: 16px;
		margin: 0;
		
		width: 100%;
		height: calc(100% - 50px - 20px);
		
		max-width: none;
	}
}