/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

#things {
	position: absolute;
	top: 250px;
	left: 75px;
				
	display: -ms-grid;
				
	display: grid;
	-ms-grid-columns: 1fr 50px 1fr 50px 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(375px, 400px);
	grid-gap: 50px;
				
	width: calc(100% - 150px);
}
			
#things > a {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: black;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	border-radius: 4px;
	margin-bottom: 50px;
}

#things > a:hover {
	-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
			transform: scale(1.1);
	box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}
			
#things > a > h1 {
	opacity: 0;
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	
	color: var(--primary-color);
	background-color: var(--dark-0);
	text-align: center;
	padding: 10px;
}

#things > a:hover > h1 {
	opacity: 1;
}

#things > a > div {
	-webkit-transform: translate(0, 75%);
		-ms-transform: translate(0, 75%);
			transform: translate(0, 75%);
	-webkit-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;

	background-color: var(--dark-0);
	height: 100%;
	padding: 10px;
	color: var(--primary-color);
}

#things > a:hover > div {
	-webkit-transform: translate(0, 50%);
		-ms-transform: translate(0, 50%);
			transform: translate(0, 50%);
}

#warning {
	display: none;
	
	text-align: center;
	color: white;
	margin-top: 100px;
}

@media (max-width: 1150px) {
	#warning {
		display: block;
	}

	#things {
		-ms-grid-columns: 1fr;
		grid-template-columns: repeat(1, 1fr);
	}
	
	#things > a > h1 {
		opacity: 1;
	}
}